{{define "header"}}
<header class="main-header">
    <div class="container">
        <div class="brand">
            <img src="https://upload.wikimedia.org/wikipedia/commons/9/98/International_Pokémon_logo.svg" alt="Logo Pokémon" class="logo">
            <h1>TCGDEX Explorer</h1>
        </div>
        <nav>
            <ul class="nav-menu">
                <li><a href="/accueil" {{if eq .CurrentPage "accueil"}}class="active"{{end}}>Accueil</a></li>
                <li><a href="/collection" {{if eq .CurrentPage "collection"}}class="active"{{end}}>Collection</a></li>
                <li><a href="/recherche" {{if eq .CurrentPage "recherche"}}class="active"{{end}}>Recherche</a></li>
                <li><a href="/favoris" {{if eq .CurrentPage "favoris"}}class="active"{{end}}>Favoris</a></li>
                <li><a href="/a-propos" {{if eq .CurrentPage "a-propos"}}class="active"{{end}}>À propos</a></li>
            </ul>
        </nav>
    </div>
</header>
{{end}}